dist
*.o
*.hi
*.dyn_hi
*.dyn_o

src/Main
src/doc
.stack-work
.DS_Store
.cabal-sandbox
cabal.sandbox.config
src/octave-workspace
src/Main-mod.hs

octave-workspace

*.txt

*.pdf

Switch/and

Switch/and.hs

Switch/switch.hs
