body {
    background-color: #00A46E;
}

.form-control {
    background-color: #58D7AD;
}

.form-control:disabled {
    color: black;
    background-color: #00A46E;
}

.card {
    background-color: #0AC688;
}

.card-header,
.card-footer {
    color: white;
    background-color: #007E55;
}

.btn-primary {
    color: black;
    background-color: #97F063;
    border-color: #97F063;
}

.btn-primary:hover {
    color: black;
    background-color: #5EE90C;
    border-color: #5EE90C;
}